.package224dp5f6368Fill0WgIcon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.div {
    position: relative;
    font-weight: 600;
}
.package224dp5f6368Fill0WgParent {
    width: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.karina {
    position: relative;
    color: #949494;
}
.lun17Wrapper {
    width: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
}
.frameGroup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.span {
    font-weight: 600;
}
.bcn1 {
    font-weight: 300;
    color: #949494;
}
.bcn {
    position: relative;
}
.bcnWrapper {
    width: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.x34 {
    position: relative;
    font-weight: 600;
    text-align: left;
}
.frameWrapper {
    width: 310px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #fcfcfd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
}
.vectorIcon {
    width: 13.3px;
    position: relative;
    height: 12px;
}
.vectorWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.bcnFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pr666H6528Oval {
    position: relative;
    font-weight: 100;
}
.pr666H6528OvalD95Wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.frameDiv {
    width: 310px;
    border-radius: 4px;
    background-color: #fcfcfd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
    gap: 16px;
}
.instanceParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    text-align: center;
    font-size: 12px;
}
.frameParent {
    width: 100%;
    position: relative;
    background: linear-gradient(255.96deg, rgba(134, 1, 173, 0.08), rgba(43, 28, 49, 0.08));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 24px 16px;
    box-sizing: border-box;
    gap: 16px;
    text-align: left;
    font-size: 14px;
    color: #242424;
    font-family: 'SF Pro';
}