@media (max-width: 768px) {
    .frameWrapper {
        padding: 6px 12px; /* Reduce el padding */
        border-radius: 20px; /* Bordes más redondeados */
    }

    .qrCodeScanner24dp5f6368Fi {
        width: 36px;
        height: 36px;
        padding: 6px; /* Reduce el tamaño del botón */
    }
}

@media (max-width: 480px) {
    .frameWrapper {
        font-size: 12px; /* Tamaño de texto más pequeño */
    }
}

@media (max-width: 428px) {
    .frameWrapper {
        padding: 4px 8px;
        font-size: 12px;
    }

    .qrCodeScanner24dp5f6368Fi {
        width: 32px;
        height: 32px;
        padding: 4px;
    }
}

@media (max-width: 375px) {
    .frameWrapper {
        padding: 2px 6px;
        font-size: 11px;
    }

    .qrCodeScanner24dp5f6368Fi {
        width: 28px;
        height: 28px;
        padding: 2px;
    }
}



.logo {
    
    gap: 14px;
    margin: 10px;
}

.logoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    flex-shrink: 0;
}

.bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.boxNumber {
    width: 210px;
    position: relative;
    line-height: 20px;
    display: flex;
    align-items: center;
    border-style: none;
}
.boxNumberItemNumberWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.icons24search {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.frameGroup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.frameWrapper {
    flex: 1;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
}
.vectorIcon {
    width: 20px;
    position: relative;
    height: 20px;
}
.qrCodeScanner24dp5f6368Fi {
    width: 43px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}
.frameParent {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 48px 16px 16px;
    box-sizing: border-box;
    gap: 16px;
    text-align: left;
    font-size: 14px;
    color: #989898;
    font-family: 'SF Pro';
}

